@*@model IEnumerable<DAL.Model.Movie>*@

@{
    ViewData["Title"] = "Movie Buff Content";
}

<div>
    <h1>Placeholder for Movie Buff content</h1>
    <hr />
</div>

<div>
   *@Html.Partial("_MoviePartial")
    <hr />
</div>

<div>
    @Html.Partial("_CharacterPartial")
    <hr />
</div>








