@using DAL.Model
@model IEnumerable<DAL.Model.Movie>


<div>
    <h3>Movies Page</h3>
    <hr />
    <table id="movietable" class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Movie movie in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => movie.Id)</td>
                    <td> @Html.DisplayFor(modelItem => movie.Name)</td>
                    <td> @Html.DisplayFor(modelItem => movie.Rating)</td>
                </tr>
            }
        </tbody>
    </table>
    @*<button type="button" onclick="addNewMovie()">Add New Movie</button>*@
    @*<button type="button" onclick="saveNewMovie()">Save</button>*@
    <hr/>
    <p><i>Add new movie</i></p>
    <form action="/Movies" method="post">
        <input type="text" name="Name" value="Name" />
        <input type="number" name="Rating" value=3 />
        <input type="submit" value="Submit" />
    </form>


</div>